<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syllabi Conversion Tool</title>
    <script src="{{ url_for('static', filename='script.js' ) }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="file-input-container">
    <h2>Syllabi Conversion Tool</h2>
    <input type="file" class="file-input" id="upload" />
    <label for="upload" class="file-label">Choose a File</label>
</div>

</body>
</html>
